@-webkit-keyframes h-h-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: -1px -9px 10px #0092ff3d;
            box-shadow: -1px -9px 10px #0092ff3d;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px -20px 80px 0px #0092ff85;
            box-shadow: 0px -20px 80px 0px #0092ff85;
  }
}

@keyframes h-h-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: -1px -9px 10px #0092ff3d;
            box-shadow: -1px -9px 10px #0092ff3d;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px -20px 80px 0px #0092ff85;
            box-shadow: 0px -20px 80px 0px #0092ff85;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes shakecontact {
  0% {
    -webkit-transform: translate(0, -51%) rotate(0deg);
            transform: translate(0, -51%) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(1%, -52%) rotate(-1deg);
            transform: translate(1%, -52%) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3%, -50%) rotate(1deg);
            transform: translate(-3%, -50%) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3%, -52%) rotate(0deg);
            transform: translate(3%, -52%) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1%, -51%) rotate(1deg);
            transform: translate(1%, -51%) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1%, -52%) rotate(-1deg);
            transform: translate(-1%, -52%) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3%, -51%) rotate(0deg);
            transform: translate(-3%, -51%) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3%, -51%) rotate(-1deg);
            transform: translate(3%, -51%) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1%, -49%) rotate(1deg);
            transform: translate(-1%, -49%) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1%, -52%) rotate(0deg);
            transform: translate(1%, -52%) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(-1deg);
            transform: translate(0, -50%) rotate(-1deg);
    opacity: 0.5;
  }
}

@keyframes shakecontact {
  0% {
    -webkit-transform: translate(0, -51%) rotate(0deg);
            transform: translate(0, -51%) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(1%, -52%) rotate(-1deg);
            transform: translate(1%, -52%) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3%, -50%) rotate(1deg);
            transform: translate(-3%, -50%) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3%, -52%) rotate(0deg);
            transform: translate(3%, -52%) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1%, -51%) rotate(1deg);
            transform: translate(1%, -51%) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1%, -52%) rotate(-1deg);
            transform: translate(-1%, -52%) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3%, -51%) rotate(0deg);
            transform: translate(-3%, -51%) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3%, -51%) rotate(-1deg);
            transform: translate(3%, -51%) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1%, -49%) rotate(1deg);
            transform: translate(-1%, -49%) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1%, -52%) rotate(0deg);
            transform: translate(1%, -52%) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(-1deg);
            transform: translate(0, -50%) rotate(-1deg);
    opacity: 0.5;
  }
}
/*# sourceMappingURL=animations.css.map */