@keyframes h-h-anim {
    0% {
        transform: scale(1);
        box-shadow: -1px -9px 10px #0092ff3d;
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0px -20px 80px 0px #0092ff85;
    }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  @keyframes shakecontact {
    0% { transform: translate(0, -51%) rotate(0deg); }
    10% { transform: translate(1%, -52%) rotate(-1deg); }
    20% { transform: translate(-3%, -50%) rotate(1deg); }
    30% { transform: translate(3%, -52%) rotate(0deg); }
    40% { transform: translate(1%, -51%) rotate(1deg); }
    50% { transform: translate(-1%, -52%) rotate(-1deg); }
    60% { transform: translate(-3%, -51%) rotate(0deg); }
    70% { transform: translate(3%, -51%) rotate(-1deg); }
    80% { transform: translate(-1%, -49%) rotate(1deg); }
    90% { transform: translate(1%, -52%) rotate(0deg); 
        opacity: 1;
    }
    100% { transform: translate(0, -50%) rotate(-1deg);
           opacity: 0.5;
        }
  }